css
.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.timer-circle {
    width: clamp(240px, 40vw, 380px);
    height: clamp(240px, 40vh, 380px);
}

